body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
ul {
    list-style-type: none
}

a {
    text-decoration: none;
}
    
.page-title { 
    background-color: #2E2F42;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto,sans-serif; 
    font-weight: 700;
    font-size:56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.main-logo {
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

.accent {
    color:#2E2F42;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.nav-link {
    color: #2E2F42;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.contacts {
    color: #434455;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.contacts:focus {
    color: #404BBF;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.nav-link:hover {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #404BBF;

}
.nav-link-studio {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.nav-link-studio:focus {
    color: #404BBF;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.nav-link-studio:active {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: underline;
}
.address {
    font-style:normal;
}

.contacts:hover {
    color: #404BBF;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
   text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.benefits {
    background-color: #FFFFFF;
}
.benefits-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.benefits-descr {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

}
.team {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
}
.team-title {
color: #2E2F42;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
}
.team-descr {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.team-card {
    background-color: #FFFFFF;
}
.team-background {
    background-color: #F4F4FD;
}

.portfolio {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.port-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.port-descr {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.footer{
    background-color: #2E2F42;
}
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.footer-accent {
    color:#F4F4FD;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.footer-descr {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

}